streamlit
pandas
numpy==1.26.4  # TensorFlow 2.14.0과 호환되는 NumPy 1.x 버전으로 명시
matplotlib
ccxt==4.4.87
finance-datareader
scikit-learn
tensorflow==2.14.0
yfinance
fredapi
seaborn
xmltodict
pandas-datareader
requests
beautifulsoup4
transformers
torch
sentencepiece
xgboost
accelerate
pyupbit
lightgbm
pytrends
mplfinance
optuna
lightgbm
plotly
pykrx
ta==0.10.1 
PyTrends
shap
catboost
crypto
